*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url(background.png);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    font-family: "Roboto", sans-serif;
    background-color:#83afce;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: 10px solid rgb(66, 66, 125) ;
    display: grid;
    grid-template-rows:
    minmax(80px, auto) 
    repeat(5, 60px);
    grid-template-columns: repeat(4, 60px);
    justify-content: center;
    background-color: hsl(220, 6%, 10%);
    padding: 1.4rem;
    border-radius: 12px;
    gap: 0.7rem;
}

.calculator button{
    border: none;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    color: hsl(204, 100%, 58%);
    background-color: hsl(230,6%, 20%);
    border-radius: 10px;
    cursor: pointer;
}

.calculator button:hover{
background-color: hsl(230,6%, 30%);
}

.span2{
    grid-column:span 2;
}

.calculator > .output{
    font-size: 2rem;
    background-color: rgb(70, 157, 178);
    color: black;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-break: break-all;
    border-radius: inherit;
}

.output .prev-display{
    font-size: 1.3rem;
    font-weight: 400;
    color: hsl(0 , 0% , 65%);
}




